@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');


$primary-text-color: #333333;
$secondary-text-color: #8087A7;
$green-text-color: #43BEA2;
$white-text-color: #FFFFFF;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    font-family: 'Exo 2', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: $primary-text-color;
    margin-bottom: 30px;
}

h2 {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: $primary-text-color;
}

h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 19px;
}

ul {
    list-style-type: none;

    li {
        padding-bottom: 20px;
    }
}



.wrapper {
    width: 80%;
    margin: 30px auto;
}

.tab-active,
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $primary-text-color;
}


/* buttons for slider */

a {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    transition: .3s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.previous {
    top: 35%;
    left: 0;
    width: 241.44px;
    height: 296px;
    background: #E9EBF7;
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;

    &>img {
        position: absolute;
        top: 35%;
        right: 0;
    }
}

.next {
    top: 35%;
    right: 0;
    width: 241.44px;
    height: 296px;
    background: #E9EBF7;
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;

    &>img {
        position: absolute;
        top: 35%;
        left: 0;
    }
}


/* slideshow section classes */

.slideshow {
    position: relative
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 78px 133px 129px;
    border: 1px solid #E9EBF7;
    border-radius: 45px;

    .flex-item-image {
        flex: 1;

        img {
            border-radius: 8px;
        }
    }

    .flex-item-content {
        flex: 2;
        display: flex;
        flex-direction: column;

        .header__flex-item-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 52px;
        }
    }
}


/* tabs navigation */

.tabs-container__flex-item-content {
    margin-bottom: 21px;

    .tab-panel {
        max-width: 930px;
        margin: 0 auto;

        .tab-menu {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: #E9EBF7;
            border-radius: 37px;
            padding: 20px 28px;

            &>input[type="radio"] {
                display: none;
            }

            &>input[type="radio"]:checked+label {
                background: #FFFFFF;
                border-radius: 34px;
            }

            &>label {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: #8087A7;
                width: 220px;
                height: 50px;
                cursor: pointer;
            }

            &>label:first-of-type {
                margin-left: 0;
            }
        }

        .tab-content {
            /* скрыть контент по умолчанию */
            display: none;
            height: 410px;
        }

        .visible {
            /* отобразить контент js*/
            display: block;
            margin-top: 46px;
        }
    }
}


/* tab content "Воронка" */

.flex-container__tab-content-1 {
    display: flex;
    flex-direction: column;
}

.flex-item-picture {
    width: 930px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .statistic__flex-item-picture {
        display: flex;
        flex-direction: column;
        width: 460px;

        .content__statistic {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 30px;

            .icon__content {
                display: flex;
                align-items: center;
                gap: 25px;
            }

            .large-number {
                font-weight: 400;
                font-size: 40px;
                line-height: 48px;
                color: #333333;
            }
        }
    }
}

.flex-item-trade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    .image__flex-item-trade {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        border: 1px solid #E9EBF7;
        border-radius: 7px;
        padding: 20px 76px 20px 25px;

        .diagramm {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 66px;
            height: 66px;
            border: 2px solid #43BEA2;
            border-radius: 50%;
        }

        .bold__text {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #333333;
            padding-bottom: 11px;
        }

        .regular__text {
            color: #AAAAAA;
        }
    }

    .text__flex-item-trade p{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #43BEA2;
    }

    p:first-child {
        padding-bottom: 10px;
    }
}


/* tab content "Было-стало" */

.flex-container__tab-content-2 {
    display: flex;
    border: 1px solid #E9EBF7;
    padding: 21px 38px;

    .flex-item-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 930px;

        p {
            padding-bottom: 19px;
        }

        p:last-child {
            padding-bottom: 0;
        }

        .col-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 163px;
            height: 163px;
            background: #E9EBF7;
            border-radius: 50%;

            p {
                font-weight: 600;
            }

            h3 {
                padding: 0;
            }
        }

    }
}


/* tab content "О компании" */

.flex-container__tab-content-3 {
    display: flex;
    justify-content: space-evenly;

    .column-flex-item {
        flex: 1;

        .row {
            margin-top: 40px;
        }
    }
}


/* tab content "Что сделали" */

.flex-container__tab-content-4 {
    display: flex;
    justify-content: center;
    gap: 45px;

    ul {
        width: 420px;
    }
}


/* button block*/

.btn__flex-item-content {
    display: flex;
    justify-content: flex-end;

    button {
        background: #43BEA2;
        color: #FFFFFF;
        transition: .3s;
        border-radius: 39px;
        padding: 18px 58px;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

}