@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');


$primary-text-color: #333333;
$secondary-text-color: #8087A7;
$grey-bg-color: #E9EBF7;
$hover-bg-color: rgba(255, 255, 255, 0.42);
$white-common-color: #FFFFFF;
$green-common-color: #43BEA2;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    font-family: 'Exo 2', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: $primary-text-color;
    margin-bottom: 30px;
}

h2 {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: $primary-text-color;
}

h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 19px;
}

ul {
    list-style-type: none;

    li {
        padding-bottom: 20px;
    }
}

.wrapper {
    width: 80%;
    margin: 30px auto;
}

.tab-active,
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $primary-text-color;
}


/* buttons for slider */

a {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    transition: .3s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.previous {
    left: 0;
    width: 13%;
    height: 28%;
    background: $grey-bg-color;
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;

    &>img {
        position: absolute;
        top: 35%;
        right: 0;
    }
}

.next {
    right: 0;
    width: 13%;
    height: 28%;
    background: $grey-bg-color;
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;

    &>img {
        position: absolute;
        top: 35%;
        left: 0;
    }
}


/* slideshow section classes */

.slideshow {
    position: relative
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 78px 133px 129px;
    border: 1px solid $grey-bg-color;
    border-radius: 45px;

    .flex-item-image {
        flex: 1;

        img {
            border-radius: 8px;
            width: 85%;
        }
    }

    .flex-item-content {
        flex: 2;
        display: flex;
        flex-direction: column;
        width: 100%;


        .header__flex-item-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 52px;
        }
    }
}


/* tabs navigation */

.tabs-container__flex-item-content {
    margin-bottom: 21px;

    .tab-panel {
        max-width: 930px;
        margin: 0 auto;

        .tab-menu {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: $grey-bg-color;
            border-radius: 37px;
            padding: 20px 28px;

            &>input[type="radio"] {
                display: none;
            }

            &>input[type="radio"]:checked+label {
                background: #FFFFFF;
                border-radius: 34px;
            }

            &>label {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: #8087A7;
                width: 220px;
                height: 50px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background: $hover-bg-color;
                    border-radius: 37px;
                }
            }

            &>label:first-of-type {
                margin-left: 0;
            }
        }

        .tab-content {
            /* скрыть контент по умолчанию */
            display: none;
            height: 415px;
            border-bottom: 1px solid $grey-bg-color;
        }

        .visible {
            /* отобразить контент js*/
            display: block;
            margin-top: 46px;
        }
    }
}


/* tab content "Воронка" */

.flex-container__tab-content-1 {
    display: flex;
    flex-direction: column;
}

.flex-item-picture {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .statistic__flex-item-picture {
        display: flex;
        flex-direction: column;
        width: 50%;

        .content__statistic {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 5px;
            border-bottom: 1px solid #E9EBF7;

            .icon__content {
                display: flex;
                align-items: center;
                gap: 25px;
            }

            .large-number {
                font-weight: 400;
                font-size: 40px;
                line-height: 48px;
                color: $primary-text-color;
            }
        }
    }
}

.flex-item-trade {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .image__flex-item-trade {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        border: 1px solid $grey-bg-color;
        border-radius: 7px;
        padding: 20px 76px 20px 25px;

        .diagramm {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 66px;
            height: 66px;
            border: 2px solid #43BEA2;
            border-radius: 50%;
        }

        .bold__text {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: $primary-text-color;
            padding-bottom: 11px;
        }

        .regular__text {
            color: #AAAAAA;
        }
    }

    .text__flex-item-trade p {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #43BEA2;
    }

    p:first-child {
        padding-bottom: 10px;
    }
}


/* tab content "Было-стало" */

.tab-content.border-panel {
    border: 1px solid $grey-bg-color;
}

.flex-container__tab-content-2 {
    display: flex;
    padding: 21px 38px;

    &:first-child {
        border-bottom: 1px solid $grey-bg-color;
    }

    .flex-item-row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        p {
            padding-bottom: 19px;
        }

        p:last-child {
            padding-bottom: 0;
        }

        .col-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 163px;
            height: 163px;
            background: $grey-bg-color;
            border-radius: 50%;

            p {
                font-weight: 600;
            }

            h3 {
                padding: 0;
            }
        }

        & :not(:last-child) {
            h3 {
                position: absolute;
                top: 5px;
            }
        }
    }
}


/* tab content "О компании" */

.flex-container__tab-content-3 {
    display: flex;
    justify-content: space-evenly;

    .column-flex-item {
        flex: 1;

        .row {
            margin-top: 40px;
        }
    }
}


/* tab content "Что сделали" */

.flex-container__tab-content-4 {
    display: flex;
    justify-content: center;
    gap: 45px;

    ul {
        width: 420px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}


/* button block*/

.btn__flex-item-content {
    display: flex;
    justify-content: flex-end;

    button {
        background: #43BEA2;
        color: #FFFFFF;
        transition: .3s;
        border-radius: 39px;
        padding: 18px 58px;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

}


/* media query*/

@media (max-width: 1800px) {

    .flex-item-image {
        display: none;
    }

    .flex-container {
        padding: 5%;
    }
}

@media (max-width: 1200px) {
   
    .image__flex-item-picture img {
        width: 85%;
    }

    .statistic__flex-item-picture {
        width: 80%;
    }

    .flex-item-picture .statistic__flex-item-picture .content__statistic .large-number {
        font-size: 2em;
    }

    .flex-item-trade .image__flex-item-trade .bold__text {
        font-size: 1.3em;
    }

}



@media (max-width: 980px) {

    a {
        position: absolute;
        text-decoration: none;
        display: inline-block;
        transition: .3s;
    }

    .previous {
        left: 20%;
        top: 102%;
        width: 102px;
        height: 10%;
        background: #E9EBF7;
        border-radius: 50%;

        &>img {
            position: absolute;
            top: 23%;
            right: 23%;
            width: 50%;
        }
    }

    .next {
        right: 20%;
        top: 102%;
        width: 102px;
        height: 10%;
        background: #E9EBF7;
        border-radius: 50%;

        &>img {
            position: absolute;
            top: 23%;
            left: 23%;
            width: 50%;
        }
    }

    .flex-container__tab-content-2 .flex-item-row .col-3 h3 {
        font-size: 1.2em;
    }

    .flex-container__tab-content-2 .flex-item-row p {
        padding-bottom: 10px;
        font-size: 0.8em;
    }

    .flex-container__tab-content-2 .flex-item-row .col-3 {
        width: 150px;
        height: 150px;
    }

    .tab-content.border-panel {
        display: flex;
    }

    .flex-container__tab-content-2 .flex-item-row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .flex-container__tab-content-4 ul {
        font-size: 0.7em;
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.3em;
    }

    .flex-container__tab-content-3 p,
    .flex-container__tab-content-3 ul {
        font-size: 0.8em;
    }

    .flex-item-trade .image__flex-item-trade {
        padding: 2% 7% 2% 2%;
    }

    .flex-item-trade .image__flex-item-trade .diagramm {
        width: 56px;
        height: 56px;
    }

    .flex-item-trade .image__flex-item-trade .diagramm>img {
        width: 60%;
    }

}


@media (max-width: 767px) {

    .tabs-container__flex-item-content .tab-panel .tab-content {
        height: 700px;
    }

    .statistic__flex-item-picture {
        width: 80%;
    }

    .flex-item-picture {
        flex-direction: column;
        align-items: center;
    }

    .flex-item-picture .statistic__flex-item-picture {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .flex-item-trade .image__flex-item-trade .diagramm {
        width: 46px;
        height: 46px;
    }

    .flex-item-trade .image__flex-item-trade .diagramm>img {
        width: 50%;
    }

    .flex-item-trade .image__flex-item-trade .bold__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 5px;
    }

    .flex-item-trade .image__flex-item-trade .bold__text {
        font-size: 1em;
    }

    .flex-item-trade .image__flex-item-trade .regular__text {
        font-size: 0.7em;
    }

    .flex-item-trade .text__flex-item-trade p {
        font-weight: 700;
        font-size: 0.8em;
        line-height: 17px;
        text-align: right;
        color: #43BEA2;
    }

    .btn__flex-item-content {
        justify-content: center;
    }

    .previous {
        width: 90px;
        height: 7%;

        &>img {
            position: absolute;
            top: 23%;
            right: 23%;
            width: 50%;
        }
    }

    .next {
        width: 90px;
        height: 7%;

        &>img {
            position: absolute;
            top: 23%;
            left: 23%;
            width: 50%;
        }
    }

    .flex-container__tab-content-2 .flex-item-row {
        flex-direction: column;
        gap: 15px;
    }

    .flex-container__tab-content-2 .flex-item-row .col-3 {
        width: 130px;
        height: 130px;
    }

    .flex-container__tab-content-2 .flex-item-row :not(:last-child) h3 {
        position: static;
        padding-bottom: 5px;
    }

    .flex-container__tab-content-2 .flex-item-row p {
        padding-bottom: 2px;
    }

    .flex-item-picture .statistic__flex-item-picture .content__statistic .large-number {
        font-size: 1.7em;
    }

    .flex-item-picture .statistic__flex-item-picture .content__statistic {
        flex-wrap: wrap;
    }

    .flex-item-trade {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .flex-container__tab-content-3 {
        flex-wrap: wrap;
        gap: 40px;
    }

    .tabs-container__flex-item-content .tab-panel .tab-menu {
        flex-wrap: wrap;
    }

    .flex-container .flex-item-content .header__flex-item-content {
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    .flex-container .flex-item-content .header__flex-item-content .logo__header>img:last-child {      
        display: none;
    }
}


@media (max-width: 536px) {

    .flex-container .flex-item-content .header__flex-item-content .logo__header>img {      
        display: none;
    }
    h1 {
        font-size: 2.3em;
    }
    h2 {
        font-size: 1.3em;
    }
    .flex-container .flex-item-content .header__flex-item-content {      
        margin-bottom: 22px;        
    }
    ul li {
        padding-bottom: 0;
    }
    .tabs-container__flex-item-content .tab-panel .tab-content {
        height: 750px;
    }
}